<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>V4Naie5pmxkpPChDeRRqq0E55t3UNeFt</string>
	<key>Domain</key>
	<string>dev-23nryx0qpus61qo2.us.auth0.com</string>
</dict>
</plist>
